@font-face {
  font-family: Roboto-Condenced-r;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Roboto-Condenced-b;
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: Amatic-SC;
  src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: Roboto-r;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-b;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Condenced-m;
  src: url(../fonts/roboto-condensed-medium.ttf);
}

:root {
  --font-family-rcr: Roboto-Condenced-r, sans-serif;
  --font-family-rcb: Roboto-Condenced-b, sans-serif;
  --font-family-amatic: Amatic-SC, sans-serif;
  --font-family-rr: Roboto-r, sans-serif;
  --font-family-rb: Roboto-b, sans-serif;
  --font-family-rcm: Roboto-Condenced-m, sans-serif;
}